@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.center {
  text-align: center;
}
.c_red {
  color: red;
}
body {
  background-color: antiquewhite;
}
a.botao_inicial {
  background-color: #333;
  padding: 20px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  display:block;
  width: 150px;
}
.botao_inicial:hover{
  background-color: #575555;
  padding: 5%;
}
ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a, .dropbtn {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
  background-color: blue;
  padding: 16px 18px;
}
li.dropdown{
  display:  inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
}
.dropdown-content a {
  color:black;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color:aliceblue
}
.dropdown:hover .dropdown-content {
  display: block;
}