*{
    background-color: antiquewhite;
  }
  .title {
    color:red;
    text-align: center;
  }
  .mark { /*utilizado somente para destacar a frase obs:sem os -.*/
    background-color:#00FF00;
  }
  .center {
    text-align: center;
  }

  #exemplo {
    background-color: #ccc;
  }
  .bt_pag_anetrior {
    background-color: #333;
    padding: 15px;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    align-self: center;
    width: 150px;
    text-align: center;
    float:left;
    margin-left: 35px;
}
.bt_pag_anetrior:hover {
  background-color: #575555;
  padding: 1%;
}
a.botao_inicial {
  background-color: #333;
  padding: 20px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  display:block;
  width: 150px;
}
.botao_inicial:hover{
  background-color: #575555;
  padding: 2%;
}
