@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
  
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}
.center {
  text-align: center;
}
.c_red {
  color: red;
}
body {
  background-color: antiquewhite;
  position: relative;
}
a.botao_inicial {
  background-color: #333;
  padding: 20px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  display:block;
  width: 150px;
}
.botao_inicial:hover{
  background-color: #575555;
  padding: 5%;
}
.bt_pag_anetrior {
  background-color: #333;
  padding: 15px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  width: 150px;
  text-align: center;
  float:left;
  margin-left: 35px;
}
.bt_pag_anetrior:hover {
  background-color: #575555;
  padding: 4%;
}
ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a, .dropbtn {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
  background-color: blue;
  padding: 16px 18px;
}
li.dropdown{
  display:  inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
}
.dropdown-content a {
  color:black;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color:aliceblue
}
.dropdown:hover .dropdown-content {
  display: block;
}
#exgradiente {
  height: 250px;
}@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.center {
  text-align: center;
}
.c_red {
  color: red;
}
body {
  background-color: antiquewhite;
  position: relative;
}
a.botao_inicial {
  background-color: #333;
  padding: 20px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  display:block;
  width: 150px;
}
.botao_inicial:hover{
  background-color: #575555;
  padding: 5%;
}
.bt_pag_anetrior {
  background-color: #333;
  padding: 15px;
  border-radius: 25px;
  color: aliceblue;
  text-decoration: none;
  align-self: center;
  width: 150px;
  text-align: center;
  float:left;
  margin-left: 35px;
}
.bt_pag_anetrior:hover {
  background-color: #575555;
  padding: 4%;
}
#exemplo {
  background-color: #ccc;
}
ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a, .dropbtn {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
  background-color: blue;
  padding: 16px 18px;
}
li.dropdown{
  display:  inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
}
.dropdown-content a {
  color:black;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color:aliceblue
}
.dropdown:hover .dropdown-content {
  display: block;
}
#exgradiente {
  height: 250px;
  width: 100%;
  background-image: linear-gradient( blue, red );
}
#exgradiente2 {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to left, blue, red );
}
#exgradiente3 {
  height: 250px;
  width: 100%;
  background-image: radial-gradient( blue, red );
}
#exgradiente4 {
  height: 250px;
  width: 100%;
  background-image: radial-gradient( blue 50%, red  );
}
.card {
  text-align: center;
  background-color: aliceblue;
  width:40%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  
}
.reduzido {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 30px;
}
.card:hover .reduzido {
  white-space: normal;
}
/* Inicio Flexbox */
.exflexpai {
  background-color: blue;
  display: flex;
  flex-direction:  column;

}
.exflexpai div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
.exflexpai2 {
  background-color: blue;
  display: flex;
  flex-direction:  row;

}
.exflexpai2 div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
.exflexpai3 {
  background-color: blue;
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;

}
.exflexpai3 div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 30px;
  text-align: center;
}
.exflexpai4 {
  background-color: blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  height: 250px;
}
.exflexpai4 div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 30px;
  text-align: center;
}