.center {
    text-align: center;
}
.c_red {
    color: red;
}
.exemplo_back {
    padding: 100px;
    background: gray url(../img/fotoexemplo.jpg) center ;
}
body {
    background-color: antiquewhite;
}
.mainmenubtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px 45px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: #ccc;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #333;
    min-width: 200px;
}
.dropdown-child a {
    color:aliceblue;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-color: #ccc;
}
.dropdown:hover .dropdown-child {
    display: block;
}
#exemplo {
    background-color: #ccc;
  }
.exemplo_border1 {
    border: 1px dashed black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border2 {
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border3 {
    border: 1px dotted black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border4 {
    border: 5px double black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border5 {
    border: 1px groove black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border6 {
    border: 1px none black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border6 {
    border: 1px hidden black;
    text-align: center;
    font-size: 15px;
}
.exemplo_borderdirecoes {
    border-top: 5px solid black;
    border-left: 5px solid blue;
    border-right: 5px solid red;
    border-bottom: 5px solid green;
    text-align: center;
    font-size: 15px;
}
.exemplo_borderdirecoes2 {
    border-top: 5px dotted blue;
    border-left: 5px dotted blue;
    border-right: 5px dashed red;
    border-bottom: 5px dashed red;
    text-align: center;
    font-size: 15px;
}
.exemplo_border_radius {
    color:aliceblue;
    border: 4px solid red;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    background-color: #333;
}

