@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.center {
    text-align: center;
}
.c_red {
    color: red;
}
.exemplo_back {
    padding: 100px;
    background: gray url(../img/fotoexemplo.jpg) center ;
}
body {
    background-color: antiquewhite;
}
.mainmenubtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px 45px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: #ccc;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #333;
    min-width: 200px;
}
.dropdown-child a {
    color:aliceblue;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-color: #ccc;
}
.dropdown:hover .dropdown-child {
    display: block;
}
#exemplo {
    background-color: #ccc;
  }
.exemplo_border1 {
    border: 1px dashed black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border2 {
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border3 {
    border: 1px dotted black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border4 {
    border: 5px double black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border5 {
    border: 1px groove black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border6 {
    border: 1px none black;
    text-align: center;
    font-size: 15px;
}
.exemplo_border6 {
    border: 1px hidden black;
    text-align: center;
    font-size: 15px;
}
.exemplo_borderdirecoes {
    border-top: 5px solid black;
    border-left: 5px solid blue;
    border-right: 5px solid red;
    border-bottom: 5px solid green;
    text-align: center;
    font-size: 15px;
}
.exemplo_borderdirecoes2 {
    border-top: 5px dotted blue;
    border-left: 5px dotted blue;
    border-right: 5px dashed red;
    border-bottom: 5px dashed red;
    text-align: center;
    font-size: 15px;
}
.exemplo_border_radius {
    color:aliceblue;
    border: 4px solid red;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    background-color: #333;
}
.exemplo_margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 10px;
    border: 4px solid red;
    color:aliceblue;
    border-radius: 30px;
    background-color: #333;
    text-align: center;
    font-size: 15px;
}
.exemplo_margin_all {
    margin: 30px 200px 30px 50px;
    border: 4px solid red;
    color:aliceblue;
    border-radius: 30px;
    background-color: #333;
    text-align: center;
    font-size: 15px;
}
a.botao_inicial {
    background-color: #333;
    padding: 20px;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    align-self: center;
    display:block;
    width: 150px;
}
.botao_inicial:hover{
    background-color: #575555;
    padding: 2%;
}
.textcenter {
    text-align: center;
}
.textjustify {
    text-align: justify;
}
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
.exemplodirection {
    direction: rtl;
    unicode-bidi:bidi-override;
}
.txtdecorationnone {
    text-decoration: none;
}
.txtdecorationoverline {
    text-decoration: overline;
}
.txtunderline {
    text-decoration: underline;
}
.txtline {
    text-decoration: line-through;
}
.txttransfcap {
    text-transform: capitalize;
}
.txttransfupper {
    text-transform: uppercase;
}
.txttransflower {
    text-transform: lowercase;
}
.txtindent {
    text-indent: 65px;
}
.letterspacing {
    letter-spacing: 5px;
}
.lineheight {
    line-height: 2.6;
}
.wordspacing {
    word-spacing: 15px;
}
.font1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fontsize {
    font-size: 25px;
}
.fontchange {
    font-family: 'Young Serif', serif;
}
.fontstyle {
    font-style: italic;
}
.fontweight {
    font-weight: bold;
    font-size: 20px;
}
a.btexemplo1 {
    background-color: darkgreen;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    border: 3px solid greenyellow;
    border-radius: 5px;
}
a.btexemplo1:hover {
    background-color: rgb(22, 230, 22);
    padding: 12px;
    border: 3px solid rgb(85, 136, 9);
}
a.btexemplo2 {
    text-decoration: none;
    padding: 10px;
    border: 1px solid blue;
    color:blue
}
a.btexemplo2:hover {
    text-decoration: underline;
    padding: 8px;
    color:aliceblue;
    background-color: blue;
}
a.btexemplo3 {
    color: black;
    text-decoration: none;
}
a.btexemplo3:hover {
    color: red;
    border-bottom: 5px solid black;
}
a.btexemplo4 {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
a.btexemplo4:hover {
    font-size: 22px;
    font-weight: bold;
}
a.btexemplo5 {
    cursor:help;
}
h2 {
    display:inline;
    border: 1px solid red;
}
.exmax1 {
    border: 1px solid red;
    width:800px;
}
.exmax2 {
    border: 1px solid blue;
    max-width: 800px;
}
.bt_pag_anetrior {
    background-color: #333;
    padding: 15px;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    align-self: center;
    width: 150px;
    text-align: center;
    float:left;
    margin-left: 35px;
}

.bt_prox_pag {
    background-color: #333;
    padding: 15px;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin-right: 35px;
    float: right;
} 
.bt_pag_anetrior:hover {
    background-color: #575555;
    padding: 4%;
}
.bt_prox_pag:hover {
    background-color: #575555;
    padding: 4%; 
}
a.botao_inicial2 {
    background-color: #333;
    padding: 20px;
    border-radius: 25px;
    color: aliceblue;
    text-decoration: none;
    align-self: center;
    display:block;
    width: 200px;
}
.botao_inicial2:hover{
    background-color: #575555;
    padding: 5%;
}
.excontainer {
    background-color: blue;
    width: 100%;
    height: 350px;
    display: inline-block;
}
.exdiv1 {
    position: relative;
    left: 55px; 
    top: 25px;
    width: 25%;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    z-index: 1;
}
.exdiv2 {
    position: relative;
    width: 25%;
    height: 100px;
    background-color: green;
    display: inline-block;
    z-index: 2;
}
.exdiv3 {
    position: relative;
    right: 55px;
    top: 25px;
    width: 25%;
    height: 100px;
    background-color: red;
    display: inline-block;
    z-index: 4;
}
.exfixed {
    position: fixed;
    bottom: 15px;
    right: 0;
    width: 300px;
}
.excontainer2{
    position: relative;
    background-color: blue;
    width: 100%;
    height: 350px;
    display: inline-block;
}
.exdiv4 {
    position: relative;
    width: 25%;
    height: 20px;
    background-color: yellow;
    display: inline-block;
    
}
.exdiv5 {
    position: relative;
    width: 25%;
    height: 20px;
    background-color: green;
    display: inline-block;  
}
.exdiv6 {
    position: absolute;
    left: 200px;
    top: 50px;
    width: 25%;
    height: 100px;
    background-color: red;
    display: inline-block;
}
.excontainer3{
    position: relative;
    background-color: blue;
    width: 100%;
    height: 350px;
    display: inline-block;
}
.exdiv7 {
    position: relative;
    width: 25%;
    height: 20px;
    background-color: yellow;
    display: inline-block;
    
}
.exdiv8 {
    position: sticky;
    top: 0;
    width: 25%;
    height: 50px;
    background-color: green;
    display: inline-block;  
}
.exdiv9 {
    position: relative;
    width: 25%;
    height: 20px;
    background-color: red;
    display: inline-block;
}
.containerexpratico {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
    z-index: 1;
}
.containerexpratico img {
    width:100%;
    opacity: 0.7;
    
}
.divexpratico {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: black;
    z-index: 999;
}
.exoverflow {
    background-color: #ccc;
    color: black;
    height: 110px;
    display: inline-block;   
}
.exoverflowhidden {
    background-color: #ccc;
    color: black;
    height: 110px;
    display: inline-block; 
    overflow: hidden;
}
.exoverflowscroll {
    background-color: #ccc;
    color: black;
    height: 110px;
    display: inline-block; 
    overflow: scroll;
}
.fotoexemplofloat {
    width: 200px;

}
.containerfloat {
    overflow:auto;

}
.containerfloat img {
    float: left;
    margin-right: 20px;
}
.containerdiagramação {
    background-color: aliceblue;
    border: 1px solid red;
    width:540px;
    height:130px;
    display: inline-block;
}
.containerdiagramação h3 {
    background-color: red;
    color:aliceblue;
    padding: 5px;
    position: relative;
    top:0px;
    display: inline-block;
    width:530px;
    height: 25px;
}
ul {
    background: rgb(59, 59, 59);
    padding: 20px;
}
li {
    display: inline-block;
}
li a {
    color: aliceblue; 
    text-decoration: none;
    padding: 20px;
}
li a:hover {
    background-color: #696767;
    color: black;
}
.loginex {
    float: right;
}
.loginex a:hover {
    background-color: rgb(175, 121, 226);
    color: black;
}
.img1 {
    opacity: 0.8;
}
.img2 {
    opacity: 0.5;
}
.img3 {
    opacity: 0.2;
}
a.exbtopacity {
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}
a.exbtopacity:hover {
    opacity: 0.7;
}
.extransparente {
    padding: 30px;
    background-color: rgb(29, 80, 80);
    color:aliceblue;
    opacity: 0.5;
}
